<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block style %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/index.css">
    {% endblock %}
    <head>
<body>

<!-- navbar -->
{% block navbar %}
    <div class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/topic">SPACEBY BBS</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav pull-right">
                    {% if user %}
                        <li><a href="{{ url_for('bbs_user.setting') }}">设置</a></li>
                        <li><a href="{{ url_for('index.logout') }}">退出</a></li>
                    {% else %}
                        <li><a href='/'>注册</a></li>
                        <li><a href='/'>登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div id="main" class="row">
        <div id="sidebar" class="col-md-4 col-md-push-8">
            {% block sidebar %}
                <div class="box">
                    <div class="header inner">
                        <span class="box_title">个人信息</span>
                    </div>
                    {% if user %}
                        <div class='inner'>
                            <div class='user_card'>
                                <a href="{{ url_for('bbs_user.user', username=user.username) }}">
                                    <img class='user_avatar' src="{{ user.image }}"
                                         title="{{ user.username }}"/>
                                </a>
                                <span class='user_name'>
                            <a href="{{ url_for('bbs_user.user', username=user.username) }}">{{ user.username }}</a>
                        </span>

                                <div class='board clearfix'>
                                    <div class='floor'>
                                        <span class='big'>积分: 0 </span>
                                    </div>
                                </div>
                                <div class="space clearfix"></div>
                                <span class="signature">"{{ user.signature }}"</span>
                            </div>
                        </div>
                    {% else %}
                        <div class='inner'>
                            <span>Spaceby bbs</span>
                            <div>
                                您可以
                                <a href='{{ url_for('index.index') }}'>登录</a>
                                或
                                <a href='{{ url_for('index.index') }}'>注册</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endblock sidebar %}
        </div>

        <div id="content" class="col-md-8 col-md-pull-4">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endblock main %}


{% block script %}
    <script src="/static/js/ajax.js"></script>
{% endblock script %}


</body>