<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
    <input type="text" name="user_name" placeholder="user_name" pattern="[A-z]{3}">
    <input type="text" name="user_name" placeholder="user_name" minlength="3">
    <button type="submit">提交</button>
</form>


<input type="text" name="user_name" placeholder="user_name" pattern="[0-9]{3}">
<input type="text" name="user_name" placeholder="user_name" minlength="3">
</body>
</html>