<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
    <link rel="stylesheet" href="bbs.css">

</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <div class="pure-menu pure-menu-horizontal">
            <a href="#" class="pure-menu-heading pure-menu-link">BRAND</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">首页</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sports</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Finance</a></li>
            </ul>
            <ul class="pure-menu-list pull-right">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">login</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">register</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="main" class="pure-g">
    <div id="content" class="">
        <div class="box">
            <div class="pure-menu pure-menu-horizontal header">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">全部</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Python</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Linux</a></li>
                </ul>
                <hr>
            </div>

        </div>
        <div class="box"></div>
    </div>
    <div id="sidebar" class="">
        <div class="box"></div>
    </div>
</div>

</body>
</html>