{% extends "base.html" %}

{% block title %}
    设置
{% endblock %}

{% block sidebar %}
    {{ super() }}
    <div class="box">
        <div class="inner">
            <a href="/topic/new?board_id=-1" class="create_topic_btn">
                <span class="btn btn-primary">发布话题</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="box">
        <div class="header inner">
            <a href=""><span>主页</span></a>
            <span> / 设置</span>
        </div>
        <div class="inner">
            <form id="setting_form" class="form-horizontal"
                  action="{{ url_for('bbs_user.profile', token = token) }}" method="post">
                <div class="form-group">
                    <label id="id_username" for="id_input_username">用户名</label>
                    <input id="id_input_username" type="text" class="form-control" name="username"
                           placeholder="{{ user.username }}" value="{{ user.username }}">
                </div>
                <div class="form-group">
                    <label for="">个性签名</label>
                    <textarea id="id_textarea_signature" class="form-control" rows="3" name="signature"
                              style="width: 250px;">{{ user.signature }}</textarea>
                </div>

                <button type="submit" class="btn btn-primary">保存设置</button>
            </form>
        </div>
    </div>

    <div class="box">
        <div class="header inner">
            <span class="box_title">更改密码</span>
        </div>
        <div class="inner">
            <form id="change_pass_form" class="form-horizontal"
                  action="{{ url_for('bbs_user.change_password', token = token) }}" method="post">
                <div class="form-group">
                    <label for="id_input_oldpass">当前密码</label>
                    <input id="id_input_oldpass" type="password" class="form-control" name="old_pass">
                </div>
                <div class="form-group">
                    <label for="id_input_newpass">新密码</label>
                    <input id="id_input_newpass" type="password" class="form-control" name="new_pass">
                </div>

                <button type="submit" class="btn btn-primary">更改密码</button>
            </form>
        </div>
    </div>

    <div class="box">
        <div class="header inner">
            <span class="box_title">上传头像</span>
        </div>
        <div class="inner">
            <form id="change_avatar_form"
                  class="form-horizontal"
                  action="{{ url_for('bbs_user.change_avatar', token = token) }}"
                  enctype="multipart/form-data"
                  method="post"
            >
                <div class="form-group">
                    <input type="file" id="id_input_avatar" name="avatar">
                    <p class="help-block">选择本地头像上传。</p>
                </div>

                <button type="submit" class="btn btn-primary">上传头像</button>
            </form>
        </div>
    </div>
{% endblock %}