{% extends "topic/base.html" %}

{% block title %}
    {{ topic.title }}
{% endblock %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/mditor@1.0.5/dist/css/mditor.min.css"/>
{% endblock %}

{% block sidebar %}
    <div class="box">
        <div class="header inner">
            <span class="box_title">作者信息</span>
        </div>
        <div class='inner'>
            <div class='user_card'>
                <a href="{{ url_for('gua_user.user', username=topic.user().username) }}">
                    <img class='user_avatar' src="{{ topic.user().image }}"
                         title="{{ topic.user().username }}"/>
                </a>
                <span class='user_name'>
                            <a href="{{ url_for('gua_user.user', username=topic.user().username) }}">{{ topic.user().username }}</a>
                        </span>

                <div class='board clearfix'>
                    <div class='floor'>
                        <span class='big'>积分: 0 </span>
                    </div>
                </div>
                <div class="space clearfix"></div>
                <span class="signature">"{{ topic.user().signature }}"</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="box">
        <div class='header inner'>
            <h3>{{ topic.title }}</h3>
            <div class="changes">
                    <span>
                        发布于 {{ topic.created_time | format_time }}
                    </span>
                <span>
                        作者 <a
                        href="{{ url_for('gua_user.user', username=topic.user().username ) }}">{{ topic.user().username }}</a>
                    </span>
                <span>
                        {{ topic.views }} 次浏览
                    </span>
                <span>
                        来自 问答
                    </span>
            </div>
        </div>

        <div class='inner topic'>
            <div class='topic_content'>
                <div class="markdown-text">{{ topic.content }}</div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class='header inner'>
            <span class="box_title">
                <!-- 过滤器 -->
                {{ topic.replies() | count }} 回复
            </span>
        </div>
        <div class="reply_list">
            {% for r in topic.replies() %}
                {% set u = r.user() %}
                <div class='cell'>
                    <div class='user_info'>
                        <a class='dark reply_author'>
                            {{ u.username }}
                        </a>
                        <a class="reply_time">
                            {{ loop.index }}楼 / {{ loop.length }}楼 •
                            <span class="gua-time" data-created_time="{{ r.created_time }}"></span>
                        </a>
                    </div>
                    <div class='reply_content from--{{ r.user().username }}'>
                        <div class="markdown-text">{{ r.content }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <div class="box">
        <div class="header inner">
            <span class="col_fade">添加回复</span>
        </div>
        <div id="comment_form">
            <form action="{{ url_for('gua_reply.add') }}" method="post">
                <input type="hidden" name="topic_id" value="{{ topic.id }}">
                <textarea id="editor" name="content"></textarea>
                <button type="submit" class="btn btn-primary">添加回复</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="https://unpkg.com/mditor@1.0.5/dist/js/mditor.min.js"></script>
    <script src="https://cdn.bootcss.com/marked/0.3.19/marked.min.js"></script>
    <script src="https://cdn.bootcss.com/prism/1.13.0/prism.js"></script>
    <script src="https://cdn.bootcss.com/prism/1.13.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script>
        var e = function (sel) {
            return document.querySelector(sel)
        }

        var es = function (sel) {
            return document.querySelectorAll(sel)
        }

        var markContents = function () {
            // markdown -> html 的处理放在高亮前面
            // 因为高亮是针对 html 格式的
            // lang -> language 不需要转 prism 自动转了
            var contentDivs = es('.markdown-text')
            for (var i = 0; i < contentDivs.length; i++) {
                var contentDiv = contentDivs[i]
                console.log('pre marked', contentDiv.textContent, contentDiv.innerHTML)
                var content = marked(contentDiv.textContent)
                console.log('after marked', content)
                contentDiv.innerHTML = content
            }
        }

        var highlight = function () {
            // 自动加载对应的语言 不然要手动加入各个语言的 js
            Prism.plugins.autoloader.languages_path = 'https://cdn.bootcss.com/prism/1.13.0/components/'
        }

        var registerTimer = function () {
            setInterval(function () {
                var times = es('.gua-time')
                for (var i = 0; i < times.length; i++) {
                    var t = times[i]
                    var time = Number(t.dataset.created_time)
                    var now = Math.floor(new Date() / 1000)
                    var delta = now - time
                    var s = `${delta} 秒前`
                    t.innerText = s
                }
            }, 1000)
        }

        var mditor = Mditor.fromTextarea(document.getElementById('editor'));

        //获取或设置编辑器的值
        mditor.on('ready', function () {
            console.log(mditor.value);
            mditor.value = '** hello **';
        });

        var __main = function () {
            markContents()
            highlight()
            registerTimer()
        }

        __main()

    </script>

{% endblock %}

