{% extends "topic/base.html" %}

{% block title %}
论坛主页
{% endblock %}

{% block sidebar %}
    {{ super() }}
    <div class="panel">
        <div class="inner">
            <a href="/topic/new?board_id={{ bid }}" class="create_topic_btn">
                <span class="span-success">发布话题</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="content">
        <iframe src="//player.bilibili.com/player.html?aid=1811479&cid=2783581&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true" width="100%" height="500px"> </iframe>
        <div class="panel">
            <div class="inner post">
                <div class="topic_list">
                    {% for t in ms %}
                        <div class="cell">
                            <div class="topic_title_wrapper">
                                <a class="topic_title" href="{{ url_for('gua_topic.detail', id=t.id) }}">
                                    {{ t.title }}
                                </a>
                                <span>{{ t.replies() | count }} / {{ t.views }}</span>
                                {# count(t.replies()) #}
                                {# <span>{{ t.reply_count() }} / {{ t.views }}</span> #}
                                {#len(Reply.all(topic_id=t.id))#}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="header">
                <span class="col_fade">添加回复</span>
            </div>
            <div id="comment_form">
                <form action="{{ url_for('gua_reply.add') }}" method="post">
                    <input type="hidden" name="topic_id" value="">
                    <textarea name="content"></textarea>
                    <button>添加回复</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}





